<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="description" content="Pheros develop naturally occuring, safe, and affordable tools that improve social interactions, productivity, and well-being.">
    <link href="/images/icons/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Pheros" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
